.nav {
    margin-bottom: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    transition: background-color 200ms ease-in-out 0s;

    &.active {
        color: var(--primary);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.menu-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
